

.hero-background-image {
    width: 1300px;
    height: 500px;
    top: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    z-index: 1;
}

.button-icons-container {
    position: absolute;
    left: 850px;
    z-index: 2;
    width: 200px;
    display: flex;
    justify-content: space-between;

}

.circle-1 {
    width: 55px;
    height: 55px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedin-icon {
    width: 40px;
    height: 40px;
    background: transparent url('./assets/iconmonstr-linkedin-1.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    border: none;
}

title-container {

}

.profile-picture {
    top: 320px;
    left: 800px;
    opacity: 1;
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: white solid 2px;
    position: absolute;
    z-index: 3;
}

main {
    margin-top: 300px;
}