body {
    background-color: white;
}

/* HEADER/TOP SECTION */
    .hero-background-image {
        width: 1300px;
        height: 500px;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 1;
    }

    .title-container {
        top: 60px;
        left: 150px;
        width: 400px;
        height: auto;
        position: relative;
        z-index: 4;
        color: white;
    }

    .sub-title-container {
        display: flex;
        justify-content: row;
        margin: 0px;
        padding: 0px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

    .sub-title-part-1 {
        padding-right: 10px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .sub-title-part-2 {
        font-weight: bold;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .title-container h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 70px;
        margin: 2px;
        padding: 2px;
    }

    .title-container h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        margin: 2px;
        padding: 2px;
    }

    .button-icons-container {
        position: absolute;
        top: 60px;;
        left: 800px;
        z-index: 2;
        width: 225px;
        display: flex;
        justify-content: space-between;
    }

    .circle-1, .circle-2, .circle-3 {
        cursor: pointer;
        width: 55px;
        height: 55px;
        border: 3px solid #FFFFFF;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circle-1:hover, .circle-2:hover, .circle-3:hover {
        transform: scale(1.1);
    }

    .linkedin-icon {
        cursor: pointer;
        width: 35px;
        height: 35px;
        margin-left: 6px;
        background: transparent url('./assets/iconmonstr-linkedin-1.svg') 0% 0% no-repeat padding-box;
        border: none;
    }

    .github-icon {
        cursor: pointer;
        width: 35px;
        height: 35px;
        margin-left: 1px;
        background: transparent url('./assets/github.svg') 0% 0% no-repeat padding-box;
        border: none;
    }

    .stack-overflow-icon {
        cursor: pointer;
        width: 35px;
        height: 35px;
        background: transparent url('./assets/93ae73c51933403f4cf8512e8cf05115.svg') 0% 0% no-repeat padding-box;
        border: none;
    }

    .profile-picture {
        top: 270px;
        left: 750px;
        width: 250px;
        height: auto;
        border-radius: 50%;
        border: white solid 2px;
        position: absolute;
        z-index: 3;
    }

/* MAIN/OTHER SECTIONS: */
    .other-sections {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: absolute;
        top: 500px;
        left: 0;
        width: 1300px;
    }

    .summary-section {
        font-family: 'Montserrat', sans-serif;
        color: black;
        height: 250px;
        padding-right: 300px;
        padding-left: 300px;
        background-color: lightgrey;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .summary-line {
        height: 3px;
        width: 50px;
        background: purple;
        position: relative;
        float: left;
        top: 7px; 
        margin-right: 8px;
      }

      .summary-line::after {
        content: '';
        height: 10px;
        width: 10px;
        position: relative;
        float: right;
        top: -3px;
        right: -1px;
        border-radius: 50%;
        background: purple;
      }

    .tech-section {
        font-family: 'Montserrat', sans-serif;
        height: 250px;
        padding-top: 30px;
        padding-right: 300px;
        padding-left: 300px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .tech-section h2 {
        background-color: purple;
        margin-bottom: 30px;
        padding-right: 7px;
        padding-left: 7px;
        color: white;
        width: fit-content;
    }

    .tech-section p {
        color: black;
        text-align: center;
        margin: 4px;
    }

    .tech-section span {
        color: purple;
    }

    .tech-section a {
        text-decoration: none;
    }

    .projects-section {
        font-family: 'Roboto', sans-serif;
        height: 1230px;
        padding-top: 30px;
        padding-right: 300px;
        padding-left: 300px;
        padding-bottom: 30px;
        background-color: lightgrey;
        width: 1300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .projects-section h2 {
        width: fit-content;
        margin-bottom: 30px;
        padding-right: 7px;
        padding-left: 7px;
        background-color: purple;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    .featured-projects-1, .featured-projects-2 {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .weather-app, .buisness-site {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 300px;
        margin-right: 40px;
    }

    .pizza-bot, .food-review-site {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 300px;
        margin-left: 40px;
    }

    .weather-app img, .pizza-bot img, .buisness-site img, .food-review-site img {
        width: 300px;
        height: 210px;
    }

    .weather-app a, .pizza-bot a, .buisness-site a, .food-review-site a {
        text-decoration: none;
        color: black;
    }

    .weather-app h4, .pizza-bot h4, .buisness-site h4, .food-review-site h4 {
        color: purple;
    }

    .code-tags {
        display: flex;
        flex-direction: row;
    }

    .tags {
        background-color: purple;
        color: white;
        margin: 2px;
        padding-top: 3px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 3px;
    }

    .other-projects {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .other-projects h3 {
        width: fit-content;
        color: purple;
    }

    .other-projects-container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .cluedo-picker, .news-site {
        margin-bottom: 20px;
    }

    .cluedo-picker a, .news-site a {
        text-decoration: none;
    }

    .other-projects-text {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .other-projects-text h4 {
        color: purple;
        padding-right: 1px;
        text-decoration: underline purple;
    }

    .other-projects-text p {
        color: black;
        text-decoration: underline black;
    }

    .arrow {
        color: purple;
        font-weight: bold;
        text-decoration: underline purple;
    }

    .thoughts {
        font-family: 'Montserrat', sans-serif;
        height: 250px;
        padding-top: 30px;
        padding-right: 300px;
        padding-left: 300px;
        padding-bottom: 30px;
        width: 1300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .thoughts h2 {
        width: fit-content;
        margin-bottom: 40px;
        padding-right: 7px;
        padding-left: 7px;
        background-color: purple;
        color: white;
    }

    .thoughts h3 {
        color: purple;
    }

    .skills {
        height: 630px;
        padding-top: 30px;
        padding-right: 300px;
        padding-left: 300px;
        padding-bottom: 30px;
        background-color: lightgrey;
        width: 1300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills h2 {
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 30px;
        padding-right: 7px;
        padding-left: 7px;
        width: fit-content;
        background-color: purple;
        color: white;
    }

    .skills-container {
        width: 1300px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .skills-container h3 {
        color: purple;
    } 

    .code, .toolbox, .more {
        width: 200px;
        margin: 33px;
    }

    .upcoming {
        width: 600px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        margin-top: 30px;
    }

    .upcoming h3 {
        color: purple;
        margin-right: 10px;
    }

    .for-more {
        font-family: 'Montserrat', sans-serif;
        height: 200px;
        padding-top: 30px;
        padding-right: 300px;
        padding-left: 300px;
        padding-bottom: 30px;
        width: 1300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .for-more h2 {
        width: fit-content;
        margin-bottom: 30px;
        padding-right: 7px;
        padding-left: 7px;
        background-color: purple;
        color: white;
    }

    .button-icons-container-2 {
        width: 400px;
        display: flex;
        justify-content: space-around;
    }
    .button-icons-container-2 p {
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        color: purple;
        font-weight: bold;
    }

    .linkedin, .github, .stackoverflow {
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .circle-4, .circle-5, .circle-6 {
        cursor: pointer;
        width: 55px;
        height: 55px;
        border: 3px solid purple;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circle-4, .circle-5, .circle-6 {
        transform: scale(1.1);
        /* No hover effect here on the icons as in the header, just for bigger icons this way */
    }

    .linkedin-icon-2 {
        cursor: pointer;
        width: 35px;
        height: 35px;
        margin-left: 6px;
        background: transparent url('./assets-2/iconmonstr-linkedin-1.svg') 0% 0% no-repeat padding-box;
        border: none;
    }

    .github-icon-2 {
        cursor: pointer;
        width: 35px;
        height: 35px;
        margin-left: 1px;
        background: transparent url('./assets-2/github.svg') 0% 0% no-repeat padding-box;
        border: none;
    }

    .stack-overflow-icon-2 {
        cursor: pointer;
        width: 35px;
        height: 35px;
        background: transparent url('./assets-2/93ae73c51933403f4cf8512e8cf05115.svg') 0% 0% no-repeat padding-box;
        border: none;
    }

    .contact {
        font-family: 'Montserrat', sans-serif;
        height: 250px;
        padding-top: 30px;
        padding-right: 300px;
        padding-left: 300px;
        padding-bottom: 30px;
        background-color:purple;
        width: 1300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .contact h2 {
        width: fit-content;
        background-color: purple;
        color: white;
    }

    .contact p {
        width: fit-content;
        color: white;
    }

    .email , .phone {
        text-decoration: none;
    }