
/* HEADER/TOP SECTION */
    .hero-background-image {
        width: 1300px;
        height: 500px;
        top: 0;
        left: 0;
        opacity: 1;
        position: absolute;
        z-index: 1;
    }

    .title-container {
        top: 80px;
        left: 150px;
        opacity: 1;
        width: 400px;
        height: auto;
        position: relative;
        z-index: 4;
        color: white;
    }

    .sub-title-container {
        display: flex;
        justify-content: row;
        margin: 0px;
        padding: 0px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

    .sub-title-part-1 {
        padding-right: 10px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .sub-title-part-2 {
        font-weight: bold;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .title-container h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 70px;
        margin: 2px;
        padding: 2px;
    }

    .title-container h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        margin: 2px;
        padding: 2px;
    }

    .button-icons-container {
        position: absolute;
        top: 60px;;
        left: 800px;
        z-index: 2;
        width: 200px;
        display: flex;
        justify-content: space-between;
    }

    .circle-1 {
        width: 55px;
        height: 55px;
        border: 3px solid #FFFFFF;
        border-radius: 50%;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .linkedin-icon {
        width: 35px;
        height: 35px;
        margin-left: 6px;
        background: transparent url('./assets/iconmonstr-linkedin-1.svg') 0% 0% no-repeat padding-box;
        opacity: 1;
        border: none;
    }

    /* Must be an easier way to get the icon in the center and having a border-circle round it, tried fix it in the class linkedin-icon but did not work, so added an other div/class called circle-1... */

    .circle-2 {
        width: 55px;
        height: 55px;
        border: 3px solid #FFFFFF;
        border-radius: 50%;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .github-icon {
        width: 35px;
        height: 35px;
        margin-left: 1px;
        background: transparent url('./assets/github.svg') 0% 0% no-repeat padding-box;
        opacity: 1;
        border: none;
    }

    .circle-3 {
        width: 55px;
        height: 55px;
        border: 3px solid #FFFFFF;
        border-radius: 50%;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .stack-overflow-icon {
        width: 35px;
        height: 35px;
        background: transparent url('./assets/93ae73c51933403f4cf8512e8cf05115.svg') 0% 0% no-repeat padding-box;
        opacity: 1;
        border: none;
    }

    .circle-1:hover {
        transform: scale(1.1);
    }
    .circle-2:hover {
        transform: scale(1.1);
    }
    .circle-3:hover {
        transform: scale(1.1);
    }

    .profile-picture {
        top: 270px;
        left: 750px;
        opacity: 1;
        width: 250px;
        height: auto;
        border-radius: 50%;
        border: white solid 2px;
        position: absolute;
        z-index: 3;
    }

/* MAIN/OTHER SECTIONS: */
    .other-sections {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: absolute;
        top: 500px;
        left: 0;
        width: 1300px;
    }

    .summary-section {
        font-family: 'Montserrat', sans-serif;
        height: 250px;
        padding-right: 300px;
        padding-left: 300px;
        background-color: lightgrey;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tech-section {
        font-family: 'Montserrat', sans-serif;
        height: 250px;
        padding-top: 30px;
        padding-right: 300px;
        padding-left: 300px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .tech-section h2 {
        background-color: purple;
        color: white;
        width: fit-content;
    }

    .tech-section p {
        color: black;
        text-align: center;
    }

    .projects-section {
        font-family: 'Montserrat', sans-serif;
        height: 1000px;
        padding-top: 30px;
        padding-right: 300px;
        padding-left: 300px;
        padding-bottom: 30px;
        background-color: lightgrey;
        width: 1300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .projects-section h2 {
        width: fit-content;
        background-color: purple;
        color: white;
    }
    
    .featured-projects {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .weather-app {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .weather-app img {
        width: 70%;
        height: auto;
    }

    .pizza-bot {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .pizza-bot img {
        width: 70%;
        height: auto;
    }

    .pizza-bot h4 

    .other-projects h3 {
        width: fit-content;
        color: purple;
    }

    .thoughts {
        font-family: 'Montserrat', sans-serif;
        height: 250px;
        padding-top: 30px;
        padding-right: 300px;
        padding-left: 300px;
        padding-bottom: 30px;
        width: 1300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .thoughts h2 {
        width: fit-content;
        background-color: purple;
        color: white;
    }

    .thoughts h3 {
        color: purple;
    }

    .skills {
        height: 500px;
        padding-top: 30px;
        padding-right: 300px;
        padding-left: 300px;
        padding-bottom: 30px;
        background-color: lightgrey;
        width: 1300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills h2 {
        font-family: 'Montserrat', sans-serif;
        width: fit-content;
        background-color: purple;
        color: white;
    }

    .skills-container {
        width: 700px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .skills-container h3 {
        color: purple;
    } 

    .upcoming {
        width: 700px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        display: flex;
        justify-content: flex-start;
    }

    .upcoming {
        color: purple;
    }

    .for-more {
        font-family: 'Montserrat', sans-serif;
        height: 250px;
        padding-top: 30px;
        padding-right: 300px;
        padding-left: 300px;
        padding-bottom: 30px;
        width: 1300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .for-more h2 {
        width: fit-content;
        background-color: purple;
        color: white;
    }

    .button-icons-container-2 {
        width: 400px;
        display: flex;
        justify-content: space-around;
    }
    .button-icons-container-2 p {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: bold;
    }

    .circle-4 {
        width: 55px;
        height: 55px;
        border: 3px solid #800080;
        border-radius: 50%;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .linkedin-icon-2 {
        width: 35px;
        height: 35px;
        margin-left: 6px;
        background: transparent url('./assets-2/iconmonstr-linkedin-1\ \(1\).svg') 0% 0% no-repeat padding-box;
        opacity: 1;
        border: none;
    }

    /* Must be an easier way to get the icon in the center and having a border-circle round it, tried fix it in the class linkedin-icon but did not work, so added an other div/class called circle-1... */

    .circle-5 {
        width: 55px;
        height: 55px;
        border: 3px solid #800080;
        border-radius: 50%;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .github-icon-2 {
        width: 35px;
        height: 35px;
        margin-left: 1px;
        background: transparent url('./assets-2/github\ \(1\).svg') 0% 0% no-repeat padding-box;
        opacity: 1;
        border: none;
    }

    .circle-6 {
        width: 55px;
        height: 55px;
        border: 3px solid #800080;
        border-radius: 50%;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .stack-overflow-icon-2 {
        width: 35px;
        height: 35px;
        background: transparent url('./assets-2/93ae73c51933403f4cf8512e8cf05115\ \(1\).svg') 0% 0% no-repeat padding-box;
        opacity: 1;
        border: none;
    }

    .circle-4:hover {
        transform: scale(1.1);
    }

    .circle-5:hover {
        transform: scale(1.1);
    }

    .circle-6:hover {
        transform: scale(1.1);
    }

    .contact {
        font-family: 'Montserrat', sans-serif;
        height: 250px;
        padding-top: 30px;
        padding-right: 300px;
        padding-left: 300px;
        padding-bottom: 30px;
        background-color:purple;
        width: 1300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .contact h2 {
        width: fit-content;
        background-color: purple;
        color: white;
    }

    .contact p {
        width: fit-content;
        color: white;
    }

    .email , .phone {
        text-decoration: none;
    }